.shop-container {
	display: grid;
	grid-template-columns: 4fr 1fr;
}
.products-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 45px;
	margin: 50px;
}
.proceed-link {
	text-decoration: none;
}
.btn-proceed {
	width: 90%;
	height: 40px;
	font-size: 18px;
	margin: 5px auto;
	background: #ff9900;
	border-radius: 4px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
}
.pagination {
	text-align: center;
	margin-bottom: 50px;
}
.pagination .selected {
	background-color: #ff9900;
}
